<div class="jumbotron">
  <h1 class="display-4">ENS contract events</h1>
  <p class="lead">
    This is a more complete example with a service that simulates server calling
  </p>
  <hr class="my-4" />
  <ul>
    <li>an observable async service to fetch a list of events</li>
    <li>sorting, filtering and pagination</li>
    <li>simulated delay and loading indicator</li>
    <li>debouncing of search requests</li>
  </ul>
</div>

<form>
  <div class="form-group form-inline">
    <input
      class="form-control w-50"
      type="text"
      name="searchTerm"
      placeholder="Type here to search"
      [(ngModel)]="searchQuery"
      (keyup)="setStatus()"
    />
    <span class="ml-3" *ngIf="noSearchResult">Loading...</span>
  </div>
  <div class="table-responsive" *ngIf="eventsModel && eventsModel.length > 0">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="name">Name</th>
          <th scope="col" sortable="label">Label</th>
          <th scope="col" sortable="owner">Owner</th>
          <th scope="col" sortable="expires">Expires</th>
          <th scope="col" sortable="cost">Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let event of eventsModel | filter: searchQuery | paginate: config;
            let _i = index
          "
        >
          <th scope="row">{{ event.itemOrder }}</th>
          <td>
            <ngb-highlight
              [result]="event.name"
              [term]="searchQuery"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [ngbTooltip]="event.label"
              [result]="substring(event.label)"
              [term]="searchQuery"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [ngbTooltip]="event.owner"
              [result]="substring(event.owner)"
              [term]="searchQuery"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [ngbTooltip]="event.expires"
              [result]="hexToNumber(event.expires)"
              [term]="searchQuery"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [ngbTooltip]="event.cost"
              [result]="hexToNumberString(event.cost)"
              [term]="searchQuery"
            ></ngb-highlight>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2" *ngIf="config">
      <div>
        <span> Items: {{ config.totalItems }} </span>
        <ngb-pagination
          [collectionSize]="config.totalItems"
          [(page)]="config.currentPage"
          [pageSize]="config.itemsPerPage"
          [maxSize]="5"
          [boundaryLinks]="true"
          [rotate]="true"
          class="d-inline-flex"
        ></ngb-pagination>
      </div>
      <div>
        <select
          class="custom-select"
          style="width: auto"
          name="pageSize"
          [(ngModel)]="config.itemsPerPage"
        >
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
        items per page
      </div>
    </div>
  </div>
  <ngb-alert type="danger" [dismissible]="false" *ngIf="!eventsModel">
    No data yet!
  </ngb-alert>
</form>
