<div class="jumbotron">
  <h1 class="display-4">ENS contract events</h1>
  <p class="lead">
    This is a more complete example with a service that simulates server calling
  </p>
  <hr class="my-4" />
  <ul>
    <li>an observable async service to fetch a list of events</li>
    <li>sorting, filtering and pagination</li>
    <li>simulated delay and loading indicator</li>
    <li>debouncing of search requests</li>
  </ul>
</div>

<form>
  <div class="form-group form-inline">
    <input
      class="form-control w-50"
      type="text"
      name="searchTerm"
      placeholder="Type here to search"
    />
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Label</th>
          <th scope="col">Owner</th>
          <th scope="col">Expires</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventsModel; let _i = index">
          <th scope="row">{{ _i }}</th>
          <td>
            <ngb-highlight [result]="event.name"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="event.label"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="event.owner"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="event.expires"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="event.cost"></ngb-highlight>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
